# Alias para Grep e LS (cor)
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# Alias para listagem de arquivos e diretórios
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Alias para pular diretórios
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~~="cd ~"
alias v5="cd /var/www/html/v5"

# Alias para capturar o IP
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"

# Alias diff (comparação)
command -v diff > /dev/null || alias diff="git diff --no-index"

# Finaliza todos os containers do Docker
alias docker-stop-all='docker stop $(docker ps --format "{{.ID}}")'

# Executa PHP Interactive Shell
function start_php_commandline() {
  php_version=$(docker images --filter=reference="php:8*" --format "{{.ID}}" | head -n 1)
  
  if [[ -z $php_version ]]; then
    php_version=$(docker images --filter=reference="php:7*" --format "{{.ID}}" | head -n 1)
  fi
  
  if [ -z "$versions" ]; then
    php_version="php:latest"
  fi
  
  echo $php_version;
}

alias php-cli='docker run -it $(start_php_commandline) php $@'

# docker images --filter=reference="node" --format "{{.ID}}" | head -n 1

# Executa Node Interactive Shell
function start_node_commandline() {
  node_version=$(docker image ls node --format "{{.ID}}" | head -n 1)
  
  if [ -z "$node_version" ]; then
    node_version="node:latest"
  fi
  
  echo $node_version;
}

alias node-cli='docker run -it $(start_node_commandline) node'
